@import 'tailwindcss';

/* Preline UI */
@source "../../node_modules/preline/dist/*.js";
@import '../../node_modules/preline/variants.css';

/* Plugins */
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Lexend";
    src: url("../../public/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; /* variable font range */
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}
